/* cyrillic */
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster-webfont.eot');
    src: url('../fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster-webfont.woff2') format('woff2'),
         url('../fonts/lobster-webfont.woff') format('woff'),
         url('../fonts/lobster-webfont.ttf') format('truetype'),
         url('../fonts/lobster-webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Iconos*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}
.fa-fw {
    width: 1.28571429em;
    text-align: center
}
.fa-user:before {
    content: "\f007"
}

.fa-cog:before {
    content: "\f013"
}
.fa-spin {

    animation: fa-spin 2s infinite linear
}


@keyframes fa-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.fa-bolt:before {
    content: "\f0e7"
}